@page "/counter"

<h3>WordGames</h3>
<PageTitle>CrossWord</PageTitle>

<div class=" container-fluid row justify-content-center">
    <div class="mt-5 ">
        <iframe src='https://puzzel.org/en/crossword/embed?p=-L1v2n-yhlUB-bGDzGol' width='750' height='750' frameborder='0'></iframe>
    </div>
</div>

@code {

}