@page "/weather"
<h3>EnglishReading</h3>

<!-- Begin Widget Translator 510x510 -->

<script type="text/javascript">
    var dir = "en/zh";
    var loc = "en";
</script>
<div id="TranslatorBuilder"><a href="//imtranslator.net/translation/" id="ImTranslator" target="_top" title="Translator - imtranslator.net">Translator</a><div id=ImBack></div></div>
<script type="text/javascript" src="//translation.imtranslator.net/box/webmaster/wm-im-510x510.js"></script>

<!-- End Widget Translator 510x510 -->
@code {

}